aside {
  position: fixed !important;
  z-index: map-get($z-index, aside);
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: $xs-aside-width;
  height: 100vh;
  padding-top: $xs-padding-top;
  padding-bottom: $xs-padding-bottom;

  transform: translateX(-$xs-aside-width);
  text-align: right;

  color: $aside-font-color-primary;
  background-color: $aside-background-color-primary;

  backface-visibility: hidden;
  justify-content: space-between;
  > footer {
    @include anchor-secondary;
  }
}

aside,
main {
  transition: $aside-transition;
}

body {
  // moved to #wrapper
  // overflow-x: hidden;
  &.visible {
    aside {
      transform: translateX(0);
    }
    main {
      transform: translateX($xs-aside-width);
    }
  }
}

.website-logo {
  width: 80px;
  margin-left: 1rem;
}

.website-title {
  color: #fff;
  text-transform: capitalize;
}

.website-subtitle {
  font-size: 1.5rem;

  text-transform: uppercase;
}

.website-navigation {
  li {
    display: flex;

    align-items: center;
  }
  a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    color: $aside-font-color-primary;
    &:hover {
      text-decoration: none;

      &:not(.active) {
        color: $main-color;
      }
    }
    &.active {
      color: #fff;
      background-color: $aside-background-color-secondary;
    }
  }
}

.external-links {
  display: flex;
  justify-content: space-around;

  font-size: 2rem;
}