aside {
  display: flex;

  height: 100vh;

  text-align: center;

  color: #fff;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;

  align-items: center;
  justify-content: center;
  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(0deg, #000, transparent 40%);
  }
  nav {
    > a + a {
      margin-left: 5px;
    }
  }
}

.website-logo {
  width: 100px;
}

.website-title {
  text-transform: capitalize;

  text-shadow: 1px 1px 1px #000;
}

.website-subtitle {
  font-size: 1.5rem;

  text-transform: uppercase;
}

.website-navigation {
  position: fixed;
  z-index: map-get($z-index, "nav");
  bottom: -$xs-nav-height;
  left: 0;

  display: flex;

  width: 100%;
  height: $xs-nav-height;
  padding: 0 $xs-section-padding;

  transition: bottom .1s ease-in-out;

  background-color: $ebony-clay;

  align-items: center;
  &.visible {
    bottom: 0;
  }
}