.btn {
  color: #fff !important;
}

.btn-mc-outline {
  @include btn-outline;
}


.btn-mc-primary {
  @include btn-primary;
}



.floating-button {
  font-size: 32px;

  position: fixed;
  z-index: map-get($z-index, "menu-button");
  left: 10px;
  top: 10px;

  display: flex;

  width: 2em;
  height: 2em;

  color: #fff;
  border-radius: 50%;
  background: $yellow-orange;
  box-shadow: 0 3px 10px -3px #000;

  align-items: center;
  justify-content: center;
  transition: $aside-transition;
  &:hover {
    text-decoration: none;

    color: #fff;
  }
  &.active {
    background-color: $red-damask;
    transform: translateX($xs-aside-width);
  }
  > .icon {
    font-size: 1em;

    animation: .3s toggle-menu;
  }
  > .hidden {
    display: none;
  }
}