form {
  input[type="text"],
  input[type="email"],
  textarea {
    border-color: $border-color !important;
    &:focus {
      border-color: $main-color !important;
    }
  }
  label {
    display: none;

    text-transform: capitalize;
  }
}