@media (min-width: 62rem) {
  main {
    padding-top: $lg-padding-top;
  }


  .jumbotron {
    padding: $lg-padding-top 0 0 !important;

    > h1 {
      font-size: 4.5rem;
    }
  }

  .main-header {
    position: fixed !important;

    display: block;

    text-align: right;

    background-position-y: 0;
    background-size: auto 150%;
    > section, > footer {
      position: absolute;
      z-index: 1;
      right: 40px;
    }
    > footer {
      bottom: 0;
    }
    nav {
      position: static;
      z-index: auto;

      display: block;

      padding: 0 .9375rem;

      transform: none;

      background-color: transparent;
      > .btn {
        margin: 0;
      }
    }

  }
  .section-header,
  .section-content,
  .section-footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}


@media (min-width: 34rem) {
  form label {
    display: block;
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent !important;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent !important;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent !important;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent !important;
  }

  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent !important;
  }
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent !important;
  }
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent !important;
  }
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent !important;
  }
}