@media (min-width: 62rem) {

  aside {
    padding-top: $lg-padding-top;
    transform: none;
  }

  #home {
    padding-top: $lg-padding-top;
  }

  .website-subtitle {
    font-size: 1rem;
  }

  .external-links {
    margin-bottom: 10px;
  }

  .section-header,
  .section-content,
  .section-footer {
    padding-right: $lg-section-padding;
    padding-left: $lg-section-padding;
  }
}

@media (min-width: 75rem) {
  .website-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 34rem) {
  form label {
    display: block;
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent !important;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent !important;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent !important;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent !important;
  }

  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent !important;
  }
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent !important;
  }
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent !important;
  }
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent !important;
  }
}