.main-header {
  display: flex;

  height: 100vh;

  text-align: center;

  color: #fff;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;

  align-items: center;
  justify-content: center;
  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(0deg, #000, transparent 40%);
  }
  h1 {
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000;
  }
  p {
    text-transform: uppercase;
  }
  nav {
    position: fixed;
    z-index: map-get($z-index, "nav");
    bottom: -$xs-nav-height;
    left: 0;

    display: flex;

    height: $xs-nav-height;

    transition: bottom .1s ease-in-out;

    background-color: $ebony-clay;

    align-items: center;
    &.visible {
      bottom: 0;
    }
    > .btn {
      margin: 0 2px;
    }
  }
  img {
    width: 100px;
  }
  > footer {
    position: absolute;
    bottom: 0;
    left: 0;

    color: $silver-chalice;

    @include anchor-secondary;
  }
}