@media (min-width: 62rem) {
  aside {
    padding-top: $lg-padding-top;

    transform: none;
  }

  #home {
    padding-top: $lg-padding-top;
  }

  .website-subtitle {
    font-size: 1rem;
  }

  .external-links {
    margin-bottom: 10px;
  }

  .section-row {
    padding-right: $lg-section-padding;
    padding-left: $lg-section-padding;
  }
}

@media (min-width: 75rem) {
  .website-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 34rem) {
  form {
    label {
      display: block;
    }
  }

  @each $element in $pseudo-elements {
    #{$element} {
      color: transparent !important;
    }
  }
}