@mixin anchor-secondary {
  a {
    text-decoration: none !important;

    color: lighten($font-color-primary, 5%);
    &:hover {
      color: $main-color;
    }
  }
}

@mixin anchor-primary {
  a {
    transition: .2s all ease-in-out;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin anchor-footer {
  a {
    color: #fff;
    border-bottom: 1px dotted;
    &:hover {
      text-decoration: none;
      border-bottom-style: solid;
    }
  }
}

@mixin btn-outline {
  border: 2px solid #fff;
  &:hover {
    background-color: #fff;
    color: #000 !important;
  }
}

@mixin btn-primary {
  border: 2px solid $main-color;
  background-color: $main-color;
  &:hover {
    border-color: darken($main-color, 10%);
    background-color: darken($main-color, 10%);
  }
}