.section-header,
.section-content,
.section-footer {
  padding: $xs-section-padding;
}

.section-header {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: .8;

  position: relative;

  text-transform: uppercase;

  color: $bismark;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: "";

    background: $silver-chalice;
  }
}

.section-subtitle {
  font-size: 1.3rem;
  line-height: 1;

  color: $silver-chalice;
}

.section-footer {
  background-color: $bismark;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}