.section-header,
.section-content,
.section-footer {
  padding: $xs-section-padding;
}

.section-header {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;

  text-transform: capitalize;

  color: darken($font-color-primary, 10%);
}

.section-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: #fff;
}

#home {
  height: 100vh;
  padding-top: $xs-padding-top;

  text-align: center;

  color: #fff;
  background: url("../img/bgtest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}