.section-header {
  text-align: center;
  small {
    color: $silver-chalice;
  }
  h1 {
    font-size: 3rem !important;
    font-weight: bold;
    line-height: .7;

    text-transform: uppercase;

    color: $bismark;
  }
  .line {
    display: block;

    width: 100%;
    height: 1px;
    margin: -.4rem auto 20px;

    background-color: $silver-chalice;
  }
}


.section-header,
.section-content,
.section-footer {
  padding-left: 1rem;
  padding-right: 1rem;
}