/* sizes */


// free space between top of the window and content in header and main
$xs-padding-top: 3rem;
$xs-padding-bottom: 1rem;
$lg-padding-top: 5rem;
$lg-padding-bottom: 0rem;

// font size of carousel
$carousel-font-size: 1.5rem;

// sections padding(left and right)
// in fact its for rows inside sections:
// .section-header, .section-content, .section-footer
// but that way it is easier to reason about it
$xs-section-padding: 1rem;
$lg-section-padding: 3rem;

$xs-aside-width: 70vw;

/* colors */
$gallery: #efefef;
$silver-chalice: #aaa;
$ebony-clay: #2f3c4f;
$bismark: #506f86;
/* $yellow-orange: #fbb040; */
$yellow-orange: #65486F;
$red-damask: #de703c;

/* new layout colors */
$background: #f5fafa;
$font-color-primary: #888;
$aside-background-color-primary: #212528;
$aside-background-color-secondary: darken($aside-background-color-primary, 5%);
$aside-font-color-primary: #999;
$border-color: #e5e5e5;
$footer-font-color-primary: #ccc;

$main-color: #CC7450;


$anchor-secondary-border: 1px dotted;
$anchor-secondary-border-hover: 1px solid;


$aside-transition: transform .3s ease-in-out;
/* maps */

// z-index map
$z-index: (
  aside: 2,
  menu-button: 3
);