/* sizes */


// free space between top of the window and content in aside and #home
$xs-padding-top: 3rem;
$xs-padding-bottom: 1rem;
$lg-padding-top: 5rem;

// sections padding(left and right)
// in fact its for rows inside sections:
// .section-header, .section-content, .section-footer
// but that way it is easier to reason about it
$xs-section-padding: 1rem;
$lg-section-padding: 3rem;

// section margin-top(space between sections)
$section-margin-top: 4rem;


// TODO: fixed width with @media
// Why? On Tablets and other long devices, but smaller
// then 992px, aside is just o big, where there is no
// content to cover it
$xs-aside-width: 70vw;


/* new layout colors */
$background: #f5fafa;
$font-color-primary: #888;
$aside-background-color-primary: #212528;
$aside-background-color-secondary: darken($aside-background-color-primary, 5%);
$aside-font-color-primary: #999;
$border-color: #e5e5e5;
$footer-font-color-primary: #ccc;

$main-color-primary: #de703c;
$main-color-secondary: darken($main-color-primary, 20%);


$aside-transition: transform .3s ease-in-out;



$pseudo-elements:
  "::-webkit-input-placeholder",
  ":-moz-placeholder",
  "::-moz-placeholder",
  ":-ms-input-placeholder";

/* maps */

// z-index map
$z-index: (
  aside: 2,
  menu-button: 3
);